/* style.css */
.user-icon::before {
    content: 'You';
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    color: #007bff;
    vertical-align: middle;
    font-size: 14px; /* 减小字体大小 */
}

.bot-icon::before {
    content: 'Agent';
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    color: #5cb85c;
    vertical-align: middle;
    font-size: 14px; /* 减小字体大小 */
}

#chat-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
}

#chat {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: transparent;
}

.message {
    margin-bottom: 2px; /* 进一步减小对话框之间的底部间距 */
    overflow: hidden;
}

.user-message {
    color: #007bff;
    padding: 10px;
    max-width: 80%;
    font-size: 14px; /* 减小字体大小 */
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.bot-message {
    color: #5cb85c;
    padding: 10px;
    max-width: 80%;
    font-size: 14px; /* 减小字体大小 */
    background-color: transparent;
    border: none;
    border-radius: 0;
}

#user-input {
    margin-top: 10px;
}

#user-input-text {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px; /* 减小字体大小 */
}

#send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 14px; /* 减小字体大小 */
    cursor: pointer;
}