/* style.css */
.user-icon::before {
    content: 'You';
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    color: #007bff;
    vertical-align: middle;
    font-size: 14px; /* 减小字体大小 */
}
.bot-icon::before {
    content: 'Agent';
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    color: #5cb85c;
    vertical-align: middle;
    font-size: 14px; /* 减小字体大小 */
}

#chat-container {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: transparent;
}

#chat {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    background-color: transparent;
}


.message {
    display: flex; /* 使用弹性盒子布局 */
    align-items: center; /* 垂直居中对齐元素 */
    margin-bottom: 0px;
    overflow: hidden;
}

.user-message {
    color: #007bff;
    padding: 5px;
    max-width: 100%;
    font-size: 15px; /* 减小字体大小 */
    background-color: transparent;
    border: 1px;
    margin: 0px;
    border-radius: 0;
}

.bot-message {
    color: #5cb85c;
    padding: 5px;
    max-width: 100%;
    font-size: 15px; /* 减小字体大小 */
    background-color: transparent;
    border: 1px;
    margin: 0px;
    border-radius: 0;
}

#user-input {
    margin-top: 5px;
}

#user-input-text {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px; /* 减小字体大小 */
}

#send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 14px; /* 减小字体大小 */
    cursor: pointer;
}