<!DOCTYPE html>
<html>
<head>
    <title>ChatGPT 对话</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div id="chat-container">
        <div id="chat">
            <div id="messages">
                <div class="message">
                    <p class="user-message">你好，ChatGPT！</p>
                </div>
                <div class="message">
                    <p class="bot-message">你好！有什么我可以帮助你的吗？</p>
                </div>
                <!-- 添加更多对话消息 -->
            </div>
            <div id="user-input">
                <input type="text" id="user-input-text" placeholder="输入消息...">
                <button id="send-button">发送</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#send-button').click(function() {
                // 保留原有的输出功能，将用户输入消息添加到 #messages 中

                var user_input = $('#user-input-text').val();
                $('#messages').append('<p><strong>你：</strong>' + user_input + '</p>');

                $.ajax({
                    type: 'POST',
                    url: '/ask',
                    data: { user_input: user_input },
                    success: function(data) {
                        // 保留原有的输出功能，将机器人回复添加到 #messages 中

                        $('#messages').append('<p><strong>robot：</strong>' + data.response + '</p>');
                        $('#user-input-text').val('');
                    }
                });
            });
        });
    </script>
</body>
</html>
