<!DOCTYPE html>
<html>
<head>
    <title>Chat 对话</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div id="chat-container">
        <div id="chat">
            <div id="messages">
                <div class="message">
                    <div class="user-icon">👤</div>
                    <p class="user-message">hello</p>
                </div>
                <div class="message">
                    <div class="bot-icon">🤖</div>
                    <p class="bot-message">hello！How can I help you?</p>
                </div>
                
                <!-- 添加更多对话消息 -->
            </div>
            <form id="user-input-form">
                <input type="text" id="user-input-text" placeholder="Message...">
                <button id="send-button">send</button>
            </form>
            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#user-input-form').submit(function(event) {
                event.preventDefault(); // 阻止表单提交的默认行为
                var user_input = $('#user-input-text').val();
                $('#messages').append('<div class="message"> <div class="user-icon">👤</div> <p class="user-message">' + user_input + '</p> </div>');
    
                $.ajax({
                    type: 'POST',
                    url: '/ask',
                    data: { user_input: user_input },
                    success: function(data) {
                        var output = data.output;

                        for (var i = 0; i < output.length; i++) {
                            var element = output[i];
                            var type = element.type;
                            var content = element.content;

                            if (type === 'text') {
                                // 处理文本元素
                                $('#messages').append('<div class="message"> <div class="bot-icon">🤖</div> <p class="bot-message">' + content + '</p> </div>');
                            } else if (type === 'image') {
                                // 处理图像元素
                                $('#messages').append('<div class="message"> <div class="bot-icon">🤖</div> <img src="data:image/png;base64,' + content + '" alt="generate image" width="500" height="300"> </div>');
                            }
                            // 可以根据其他类型的元素扩展处理逻辑...
                        }
                        $('#user-input-text').val('');
                    }
                });
            });
        });
    </script>
    
</body>
</html>
