<!DOCTYPE html>
<html>
<head>
    <title>Chat 对话</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div id="chat-container">
        <div id="chat">
            <div id="messages">
                <div class="message">
                    <div class="user-icon">👤</div>
                    <p class="user-message">你好</p>
                </div>
                <div class="message">
                    <div class="bot-icon">🤖</div>
                    <p class="bot-message">你好！有什么我可以帮助你的吗？</p>
                </div>
                
                <!-- 添加更多对话消息 -->
            </div>
            <form id="user-input-form">
                <input type="text" id="user-input-text" placeholder="Message...">
                <button id="send-button">send</button>
            </form>
            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#user-input-form').submit(function(event) {
                event.preventDefault(); // 阻止表单提交的默认行为
                var user_input = $('#user-input-text').val();
                $('#messages').append('<div class="message"> <div class="user-icon">👤</div> <p class="user-message">' + user_input + '</p> </div>');
    
                $.ajax({
                    type: 'POST',
                    url: '/ask',
                    data: { user_input: user_input },
                    success: function(data) {
                        $('#messages').append('<div class="message"> <div class="bot-icon">🤖</div> <p class="bot-message">' + data.response + '</p> </div>');
                        $('#user-input-text').val('');
                    }
                });
            });
        });
    </script>
    
</body>
</html>
